.Auth-background {
    width: 100vw;
    min-height: 100vh;
    align-content: center;
    justify-items: center;
}

.Auth-background > .log-in-form {
    width: 400px;
    height: 300px;
    background: #252836;
    border-radius: 12px;

    align-content: center;
    justify-items: center;
}

.Auth-background > .sign-up-form {
    
}