#create-project {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(40, 40, 40, 0.4);
    display: flex;
    align-items: center; justify-content: center;
}

#create-form {
    width: 500px; height: 400px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 4px 4px 10px 12px rgba(0, 0, 0, 0.5);

    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}

#create-form > h1 {
    font-size: 28px;
}

#create-form .row {
    position: relative;
    margin-top: 24px;
    transition: all 0.3s ease;

    & input {
        border: none;
        outline: none;
        border-bottom: 2px solid black;
        transition: all 0.3s ease;
        padding: 0 10px 2px 10px;
        font-size: 16px;

        &:focus {
            border-color: #033fff;

            & + label {
                transform: translateY(-16px);
                color: #033fff;
                font-size: 14px;
            }
        }

        :not(&:placeholder-shown) + label {
            transform: translateY(-16px);
            font-size: 14px;
        }
    }

    & input + label {
        position: absolute;
        top: 0;
        left: 10px;
        transition: all 0.3s ease;
        cursor: text;
    }

    & input[type=checkbox] {
        cursor: pointer;
    }
}

#create-form .row.hide {
    height: 0;
    opacity: 0;
}

#create-form button {
    padding: 6px 20px;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.message-bar {
    background: orange; color: #fff;
    border: 1px solid brown;
    border-radius: 8px;
    width: 300px;
    max-width: 300px; min-height: 60px;
    position: fixed;
    bottom: 20px; right: 20px;
    align-content: center;
    justify-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hide {
    display: none;
}