.home {
    width: 850px; height: 500px;
    background-color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 8px;
    -ms-overflow-style: hide;
}

.home > .header {
    height: 60px;
    background: var(--color5);
    display: flex;
    align-items: center; justify-content: space-between;
    border-radius: 8px 8px 0 0;

    h3 {
        color: var(--color3);
        padding-left: 3vw;
    }
}

.header > .tools {
    display: flex;
    margin-right: 30px;
}

.tool {
    color: var(--color3);
    cursor: pointer;
    margin: 12px;
    border-radius: 100px;
    transition: all 0.3s ease;

    &:hover {
        padding: 6px;
        margin: 6px;
        border-radius: 10px;
        opacity: 0.8;
    }
}

.tool.add-tool:hover {
    background: green;
}

.tool.del-tool:hover {
    background: darkred;
}

.data-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    gap: 20px;
    padding: 20px;
    height: 400px;
    position: relative;
}

.delete-button {
    background: red;
    border: 1px solid darkred;
    border-radius: 6px;
    padding: 4px 8px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    bottom: 10px; right: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

@media screen and (max-width: 650px) {
    .home {
        width: 92vw; height: 443px;
    }

    .tool {
        width: 20px;
    }

    .data-grid {
        display: flex; flex-direction: column;
    }
}