.list-tile {
    position: relative;
    height: 150px;
    background: var(--color5);
    cursor: pointer;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    gap: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.4s ease;
        border-radius: 8px;
        background-color: #23807c;
    }
}

.list-name {
    font-size: 26px; color: #fff;
    margin: 0 100px 40px 0;
}

.list-description {
    font-size: 16px;
    color: #fff;
    margin-right: 80px;
}

.list-tile > input[type="checkbox"] {
    position: absolute;
    top: 4px; right: 4px;
    cursor: pointer;
    width: 18px; height: 18px;
}

.list-tile.selected {
    border-color: lightblue;
}

.delete-tool.active {
    color: #ff4444;
}

@media screen and (max-width: 650px) {
    .list-tile {
        height: 100px;
    }

    .list-name {
        font-size: 20px;
    }
}