:root {
  --color1: #0b0c10;
  --color2: #1f2833;
  --color3: #c5c6c7;
  --color4: #66fcf1;
  --color5: #45a29e;
}

.App {
  text-align: center;
  background: var(--color1);
  height: 100vh;
  display: flex; flex-direction: column;
  align-items: center; justify-content: start;
  gap: 60px;
}

.App-header {
  background-color: var(--color2); color: white;
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  font-size: calc(10px + 2vmin);
  position: sticky; top: 0;
  width: 100vw; height: 120px;
  z-index: 1;
}

.App-footer {
  background: var(--color2); color: white;
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  width: 100vw; min-height: 200px;
}

.message-list {
  min-width: 350px;
  min-height: 10px;
  display: flex; flex-direction: column;
  align-items: right;
  position: fixed;
  bottom: 20px; right: 20px;
  gap: 10px;
}

.message-tile {
  width: 300px;
  border-radius: 10px;
  background: orange;
  color: #fff;
  padding: 12px 12px;
  cursor: pointer;
}

.accept-message {
  background-color: green;
}

.warning-message {
  background-color: orange;
}

.error-message {
  background-color: red;
}